:root {
  --primary-color: #212121;
  --secondary-color: #2196f3;
  --tertiary-color: #757575;
  --quaternary-color: #fff;
  --unique-color: rgba(255, 255, 255, 0.6);
  --sporadic-background-color: #188ce8;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

@media screen and (max-width: 767px) {
  .client-icon-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pros-list__item:nth-last-child(2),
.team-list__item:nth-last-child(2) {
    margin-bottom: 0px;
  }
  .pros-list__item:nth-child(2n+1),
.team-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .client-icon-list__item {
    margin-right: 30px;
  }
  .client-icon-list__item:nth-child(3n+3) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .pros-list__item,
.team-list__item {
    margin-bottom: 30px;
  }
  .pros-list__item:nth-last-child(1),
.team-list__item:nth-last-child(1) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .pros-list__item:not(:last-child),
.works-list__item:not(:last-child),
.team-list__item:not(:last-child),
.client-icon-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.hidden-heading {
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

.close-btn, .client-link, .pros-icon__bg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.logo--part--black {
  color: #000;
}

.logo--part--white {
  color: var(--quaternary-color);
}

.footer__logo {
  display: block;
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 9px;
    align-self: flex-start;
  }
}
.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .section__heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.button {
  cursor: pointer;
  font-family: inherit;
}

.hero__button,
.signUp-button,
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--quaternary-color);
  background-color: var(--secondary-color);
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  transition: background-color var(--transition-dur-and-func);
}

.hero__button:hover,
.hero__button:focus,
.signUp-button:hover,
.signUp-button:focus,
.modal-button:hover,
.modal-button:focus {
  background-color: var(--sporadic-background-color);
}

.modal-button {
  padding: 10px 80px;
  margin-top: 30px;
  align-self: center;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
.header__container {
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav,
.contact-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header__container {
    max-width: 768px;
  }
  .header__burger-button, .burger-close-btn {
    display: none;
  }
  .header__nav {
    display: inline-block;
    margin-left: 88px;
  }
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);
  }
  .nav__link:hover, .nav__link:focus {
    outline: 0px;
    color: var(--secondary-color);
  }
  .nav__item,
.contact-list__item {
    display: inline;
  }
  .nav__item {
    position: relative;
  }
  .nav__item:nth-child(1) {
    margin-right: 51px;
  }
  .nav__item:nth-child(2) {
    margin-right: 70px;
  }
  .nav__item--current:hover,
.nav__item--current:focus {
    color: var(--secondary-color);
  }
  .nav__item--current::after {
    content: "";
    position: absolute;
    top: 47px;
    left: 0;
    background-color: var(--secondary-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }
  .contact-list {
    color: var(--tertiary-color);
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .contact-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--secondary-color);
  }
  .contact-list__icon {
    fill: var(--primary-color);
    margin-right: 8px;
    transition: fill var(--transition-dur-and-func);
  }
  .contact-list__icon--envelope {
    width: 14px;
    height: 10px;
  }
  .contact-list__icon--tel {
    width: 10px;
    height: 14px;
  }
  .contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon {
    fill: var(--secondary-color);
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
  .header__nav {
    margin-left: 93px;
  }
  .contact-list {
    flex-direction: row;
  }
  .contact-list__link--tel {
    margin-left: 30px;
  }
  .contact-list__link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
  }
  .contact-list__icon {
    margin-right: 10px;
  }
  .contact-list__icon--envelope {
    width: 16px;
    height: 12px;
  }
  .contact-list__icon--tel {
    width: 10px;
    height: 16px;
  }
}
.hero {
  text-align: center;
  background-color: #c4c4c4;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tel.jpg);
  padding-top: 118px;
  padding-bottom: 118px;
}
.hero__heading {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--quaternary-color);
  width: 360px;
  margin: 0px auto 30px auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-tel@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero .hero {
    background-image: url(../images/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/hero-desk.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero .hero {
    background-image: url(../images/hero-desk@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__heading {
    font-size: 44px;
    line-height: 1.4;
    width: 700px;
  }
}
.pros {
  font-size: 14px;
  padding-bottom: 60px;
}

.pros-list {
  display: flex;
  flex-wrap: wrap;
}
.pros-list__item {
  text-align: left;
}
.pros-list__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.pros-list__description {
  line-height: 1.71;
  color: var(--tertiary-color);
}

.pros-icon__bg {
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .pros-icon__bg {
    width: 354px;
  }
  .pros-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .pros {
    padding-bottom: 0px;
  }
  .pros-icon__bg {
    width: 270px;
  }
  .pros-list__item {
    text-align: left;
    flex-basis: calc((100% - 90px) / 4);
  }
}
.works {
  padding-top: 100px;
}

.works-list {
  display: flex;
}
.works-list__item {
  position: relative;
}
.works-list__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--quaternary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list__item {
  background-color: var(--quaternary-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  padding-bottom: 24px;
}
.team-list__worker {
  padding-top: 30px;
  padding-bottom: 16px;
}
.team-list__worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.team-list__worker-position {
  line-height: 1.2;
  text-align: center;
  color: var(--tertiary-color);
  margin-top: 10px;
}

.worker-photo {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 90px) / 4);
    padding-bottom: 30px;
  }
}
.socials {
  display: flex;
  justify-content: center;
}

.social-link {
  display: inline-block;
  border-radius: 50%;
  padding: 12px;
  transition: background-color var(--transition-dur-and-func);
}
.social-link:hover, .social-link:focus {
  background-color: var(--secondary-color);
  outline: none;
}
.social-link__icon {
  display: block;
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.social-link:hover .social-link__icon, .social-link:focus .social-link__icon {
  fill: var(--quaternary-color);
}

.socials__item:not(:last-child):not(:last-child) {
  margin-right: 10px;
}

.client-icon-list {
  display: flex;
  flex-wrap: wrap;
}

.client-link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.client-link:hover, .client-link:focus {
  border: 1px solid var(--secondary-color);
  outline: none;
}

.client-link__icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.client-link:hover .client-link__icon, .client-link:focus .client-link__icon {
  fill: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .client-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
  }
}
.footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  font-style: normal;
}

.address-list__item {
  color: var(--unique-color);
}
.address-list__item:not(:last-child) {
  margin-bottom: 4px;
}

.address-list__link {
  transition: color var(--transition-dur-and-func);
}
.address-list__link:hover, .address-list__link:focus {
  outline: 0px;
  color: var(--secondary-color);
}

[href*=maps] {
  color: var(--quaternary-color);
}
[href*=maps]:hover, [href*=maps]:focus {
  outline: 0px;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .contacts-and-socials-container {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 51px;
  }
  .address {
    text-align: left;
  }
  .footer-flex-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}

.social-link__icon {
  fill: var(--quaternary-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--secondary-color);
}

.social-call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--quaternary-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__footer-socials-container {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__footer-socials-container {
    margin-left: 70px;
  }
  .social-call {
    text-align: left;
  }
}
.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-form__label {
  color: var(--quaternary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 13px;
  text-align: center;
}

.signUp-button {
  padding: 8px 25px 8px 40px;
}

.signUp-icon {
  padding-top: 3px;
  margin-left: 26px;
}

.sign-form__input {
  height: 50px;
  margin-top: 20px;
  line-height: 1.25;
  color: var(--quaternary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  padding-right: 0px;
}
.sign-form__input::placeholder {
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.sign-form__label-and-input {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .sign-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-form__input {
    width: 358px;
  }
  .sign-form__label {
    text-align: left;
  }
  .sign-form__label-and-input {
    width: 358px;
    margin-right: 12px;
  }
  .sign-form {
    flex-direction: row;
    align-items: flex-end;
  }
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  border: 0px;
  padding: 6px 25px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}

.filter-list .button:hover,
.filter-list .button:focus,
.filter-list .filter-list__item--active {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  outline: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__item:nth-child(3) .button {
  padding-right: 53px;
  padding-left: 53px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__card {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow var(--transition-dur-and-func);
}

.img-and-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-list__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  width: 100%;
  height: 100%;
  color: var(--quaternary-color);
  background: var(--secondary-color);
  opacity: 0.9;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px 0px;
}

.portfolio-list__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.portfolio-list__card:hover .portfolio-list__card-overlay {
  transform: translateY(0%);
}

.portfolio-list__card-description {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.portfolio-list__card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list__card:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-list__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  text-align: left;
  margin-bottom: 4px;
}

.portfolio-list__card-subtitle {
  line-height: 1.9;
  text-align: left;
  color: var(--tertiary-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--quaternary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px 0px 40px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  transition: border var(--transition-dur-and-func);
}
.close-btn:hover, .close-btn:focus {
  outline: 0;
}

.close-btn__icon {
  transition: fill var(--transition-dur-and-func);
}
.close-btn:hover .close-btn__icon, .close-btn:focus .close-btn__icon {
  fill: var(--secondary-color);
}

.modal {
  display: flex;
  flex-direction: column;
  color: var(--tertiary-color);
}
.modal__call {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--primary-color);
}
.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
}
.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal__textarea::placeholder {
  opacity: 0.5;
}

textarea::placeholder,
.modal__input {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal__textarea,
.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input-and-svg {
  display: block;
  position: relative;
  height: 100%;
}

.modal__label-and-input {
  margin-bottom: 10px;
}

.modal__input:focus,
.modal__textarea:focus {
  border: 1px solid var(--secondary-color);
  outline: none;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal__input:focus + .modal-icon {
  fill: var(--secondary-color);
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 13px;
}

.modal__checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
  padding-left: 37px;
}
.modal__checkbox-label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 13px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: inherit;
  border: 1.5px solid #212121;
}

.modal__checkbox:checked + .modal__checkbox-label::before {
  background-color: var(--secondary-color);
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.header__burger-button, .burger-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.header__burger-button:focus, .burger-close-btn:focus {
  fill: var(--secondary-color);
}

.burger-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: beige;
  padding: 48px 40px;
  letter-spacing: 0.02em;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 500ms linear, opacity 500ms linear;
}

.burger-menu-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.burger-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
}

.burger-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
}
.burger-menu__link:hover, .burger-menu__link:focus {
  color: var(--secondary-color);
}

.burger-menu__item:not(:last-child),
.burger-contacts__item {
  margin-bottom: 32px;
}

.burger-menu__link--current {
  color: var(--secondary-color);
}

.burger-menu-overlay__burger-contacts {
  margin-top: 302px;
  margin-bottom: 64px;
}

.burger-contacts {
  color: var(--tertiary-color);
}

.burger-contacts__link {
  font-weight: 500;
  line-height: 1.17;
}
.burger-contacts__link:hover, .burger-contacts__link:focus {
  outline: 0px;
  color: var(--secondary-color);
}

.burger-contacts__link--tel {
  font-size: 34px;
}

.burger-contacts__link--mail {
  font-size: 24px;
}

.burger-socials {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}
.burger-socials__item {
  color: var(--secondary-color);
}

.burger-socials__item {
  position: relative;
}

.burger-socials__item:not(:last-child) {
  margin-right: 20px;
}
.burger-socials__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: translateX(1000%);
}/*# sourceMappingURL=main.css.map */