.header__burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;

  &:focus {
    fill: var(--secondary-color);
  }
}

.burger-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--quaternary-color);
  letter-spacing: 0.02em;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 500ms linear, opacity 500ms linear;
}

.burger-menu-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.burger-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  @extend .header__burger-button;
  width: 40px;
  height: 40px;
}
.burger-container {
  padding: 48px 40px;
}

.burger-container__burger-socials {
  margin-bottom: 48px;
}

.burger-menu__link {
  @include font(500, 40px, 1.17);
  &:hover,
  &:focus {
    color: var(--secondary-color);
  }
}

.burger-menu__item:not(:last-child),
.burger-contacts__item {
  margin-bottom: 32px;
}

.burger-menu__link--current {
  color: var(--secondary-color);
}

.burger-menu-overlay__burger-contacts {
  margin-top: 37.93vh;
  margin-bottom: 64px;
}

.burger-contacts {
  color: var(--tertiary-color);
}

.burger-contacts__link {
  font-weight: 500;
  line-height: 1.17;
  &:hover,
  &:focus {
    outline: 0px;
    color: var(--secondary-color);
  }
}

.burger-contacts__link--tel {
  font-size: 34px;
}

.burger-contacts__link--mail {
  font-size: 24px;
}

.burger-socials {
  display: flex;
  @include font(500, 18px, 1.22);
  &__item {
    color: var(--secondary-color);
  }
}
.burger-socials__item {
  position: relative;
}
.burger-socials__item:not(:last-child) {
  margin-right: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: rgb(33 33 33 / 0.2);
    transform: translateX(1000%);
  }
}
