.button {
  cursor: pointer;
  font-family: inherit;
}

.hero__button,
.signUp-button,
.modal-button {
  @include font(700, 16px, 1.87);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--quaternary-color);
  background-color: var(--secondary-color);
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  transition: background-color var(--transition-dur-and-func);
}

.hero__button:hover,
.hero__button:focus,
.signUp-button:hover,
.signUp-button:focus,
.modal-button:hover,
.modal-button:focus {
  background-color: var(--sporadic-background-color);
}

.modal-button {
  padding: 10px 80px;
  margin-top: 30px;
  align-self: center;
}
