.footer-socials-container {
  margin-left: 70px;

  .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-func);
  }
  .social-link__icon {
    fill: var(--quaternary-color);
  }
  .social-link:hover,
  .social-link:focus {
    background-color: var(--secondary-color);
  }
}

.social-call {
  @include font(700, 14px, 1.1);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--quaternary-color);
}
