.social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
  }

  &__footer-icon {
    fill: var(--quaternary-color);
    display: block;
  }
}

.footer-socials__social-call {
  @include font(700, 14px, 1.1);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--quaternary-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__footer-socials {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__footer-socials {
    margin-left: 70px;
  }
  .footer-socials__social-call {
    text-align: left;
  }
}
