.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;

  &__container {
    max-width: 480px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav,
.contact-list {
  display: none;
}

// Tablet

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;

    &__container {
      max-width: 768px;
    }
    &__burger-button {
      display: none;
    }
  }
  .header__nav {
    display: inline-block;
    margin-left: 88px;
  }

  .nav__link {
    @include font(500, 14px, 1.2);
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
      outline: 0px;
      color: var(--secondary-color);
    }
  }

  .nav__item,
  .contact-list__item {
    display: inline;
  }

  .nav__item {
    position: relative;

    &:nth-child(1) {
      margin-right: 51px;
    }

    &:nth-child(2) {
      margin-right: 70px;
    }
  }

  .nav__item--current:hover,
  .nav__item--current:focus {
    color: var(--secondary-color);
  }

  .nav__item--current::after {
    content: "";
    position: absolute;
    top: 47px;
    left: 0;
    background-color: var(--secondary-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }

  // CONTACTS LIST

  .contact-list {
    color: var(--tertiary-color);
    margin-left: auto;
    display: flex;
    flex-direction: column;

    &__link {
      @include font(500, 12px, 1.2);
      letter-spacing: 0.02em;

      &:hover,
      &:focus {
        color: var(--secondary-color);
      }
    }
    &__icon {
      fill: var(--primary-color);
      margin-right: 8px;
      transition: fill var(--transition-dur-and-func);

      &--envelope {
        width: 14px;
        height: 10px;
      }

      &--tel {
        width: 10px;
        height: 14px;
      }
    }
  }

  .contact-list__link:hover .contact-list__icon,
  .contact-list__link:focus .contact-list__icon {
    fill: var(--secondary-color);
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }

  .header__nav {
    margin-left: 93px;
  }

  .contact-list {
    flex-direction: row;

    &__link--tel {
      margin-left: 30px;
    }

    &__link {
      display: inline-flex;
      align-items: center;
      font-size: 14px;
    }

    &__icon {
      margin-right: 10px;

      &--envelope {
        width: 16px;
        height: 12px;
      }

      &--tel {
        width: 10px;
        height: 16px;
      }
    }
  }
}
