.logo {
  font-family: Raleway;
  @include font(700, 24px, 1.2);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: inline;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo--part--black {
  color: #000;
}

.logo--part--white {
  color: var(--quaternary-color);
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    display: block;
    margin-bottom: 9px;
  }
}
