.pros {
  font-size: 14px;
  padding-bottom: 60px;
}

.pros-list {
  display: flex;
  flex-wrap: wrap;
  &__item {
    text-align: left;
  }

  &__heading {
    @include font(700, 14px, 1.1);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    line-height: 1.71;
    color: var(--tertiary-color);
  }
}

.pros-icon__bg {
  @extend %flex;
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .pros-icon__bg {
    width: 354px;
  }
  .pros-list {
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .pros {
    padding-bottom: 0px;
  }

  .pros-icon__bg {
    width: 270px;
  }

  .pros-list__item {
    text-align: left;
    flex-basis: calc((100% - 90px) / 4);
  }
}
