.works {
  padding-top: 100px;
}

.works-list {
  display: flex;

  &__item {
    position: relative;
  }

  &__label {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--quaternary-color);
    @include font(700, 14px, 1.14);
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
