body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.client-icon-list__item {
  margin-bottom: 30px;
}

// PHONE
@media screen and (max-width: 767px) {
  .client-icon-list__item:nth-child(2n + 1) {
    margin-right: 4.65vw;
  }
  .client-icon-list__item:last-child,
  .client-icon-list__item:nth-last-child(2) {
    margin-bottom: 0px;
  }
}

// TABLET

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pros-list__item:nth-last-child(2),
  .team-list__item:nth-last-child(2) {
    margin-bottom: 0px;
  }

  .pros-list__item:nth-child(2n + 1),
  .team-list__item:nth-child(2n + 1) {
    margin-right: 30px;
  }

  .client-icon-list__item {
    margin-right: 30px;

    &:nth-child(3n + 3) {
      margin-right: 0px;
    }
  }
  :last-child,
  :nth-last-child(2),
  :nth-last-child(3) {
    margin-bottom: 0px;
  }
}

// DESKTOP AND TABLET

@media screen and (max-width: 1199px) {
  .pros-list__item,
  .team-list__item {
    margin-bottom: 30px;
  }

  .pros-list__item:nth-last-child(1),
  .team-list__item:nth-last-child(1) {
    margin-bottom: 0px;
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .pros-list__item:not(:last-child),
  .works-list__item:not(:last-child),
  .team-list__item:not(:last-child),
  .client-icon-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .client-icon-list__item {
    margin-bottom: 0px;
  }
}
